@import url("common.css");
/* mixin mixin mixin mixin mixin mixin mixin mixin mixin mixin */
body {
  /* background-color: #042825; */
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1520px;
  height: 160px;
  margin: 0 auto;
  padding: 0 20px;
  color: #fff;
  opacity: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 0, -50);
          transform: matrix(1, 0, 0, 1, 0, -50);
  -webkit-animation: head 1s forwards;
          animation: head 1s forwards;
}

@-webkit-keyframes head {
  100% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes head {
  100% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

header .under_w {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

header .under_w::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

header .under_w::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: white;
  -webkit-transition: .4s;
  transition: .4s;
}

header .under_w:hover:after {
  content: "";
  left: 0%;
  width: 100%;
}

header a {
  position: relative;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  padding: 8px 5px;
  margin: 0 15px;
  color: #fff;
}

header .Start {
  background: white;
  color: #042825;
  border-radius: 40px;
  overflow: hidden;
  font-size: 1rem;
  padding: 12px 24px;
  margin: 0 20px;
  font-weight: 700;
  max-height: 52px;
}

.up {
  width: 1480px;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding-bottom: 100px;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.container_a .full {
  text-align: center;
  padding: 0 0 142.5px;
  font-size: 4.5rem;
}

.container_a .full h1 {
  font-size: 4.5rem;
  color: white;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  font-weight: 400;
  line-height: 1.11;
}

.container_a .full h1 .full_1 {
  display: block;
  text-align: center;
  position: relative;
  -webkit-animation: anih1 1s 0.1s forwards;
          animation: anih1 1s 0.1s forwards;
}

@-webkit-keyframes anih1 {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0 40px 0);
            transform: translate3d(0 40px 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50);
            transform: matrix(1, 0, 0, 1, 0, 50);
  }
  100% {
    visibility: inherit;
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: translate3d(0 0 0);
            transform: translate3d(0 0 0);
  }
}

@keyframes anih1 {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0 40px 0);
            transform: translate3d(0 40px 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50);
            transform: matrix(1, 0, 0, 1, 0, 50);
  }
  100% {
    visibility: inherit;
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: translate3d(0 0 0);
            transform: translate3d(0 0 0);
  }
}

.container_a .full h1 .full_2 {
  display: block;
  text-align: center;
  position: relative;
  -webkit-animation: anih2 1s 0.2s forwards;
          animation: anih2 1s 0.2s forwards;
}

@-webkit-keyframes anih2 {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0 40px 0);
            transform: translate3d(0 40px 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50);
            transform: matrix(1, 0, 0, 1, 0, 50);
  }
  100% {
    visibility: inherit;
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: translate3d(0 0 0);
            transform: translate3d(0 0 0);
  }
}

@keyframes anih2 {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0 40px 0);
            transform: translate3d(0 40px 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50);
            transform: matrix(1, 0, 0, 1, 0, 50);
  }
  100% {
    visibility: inherit;
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: translate3d(0 0 0);
            transform: translate3d(0 0 0);
  }
}

.container_a .full h1 .full_3 {
  display: block;
  text-align: center;
  position: relative;
  -webkit-animation: anih3 1s 0.3s forwards;
          animation: anih3 1s 0.3s forwards;
}

@-webkit-keyframes anih3 {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0 40px 0);
            transform: translate3d(0 40px 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50);
            transform: matrix(1, 0, 0, 1, 0, 50);
  }
  100% {
    visibility: inherit;
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: translate3d(0 0 0);
            transform: translate3d(0 0 0);
  }
}

@keyframes anih3 {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0 40px 0);
            transform: translate3d(0 40px 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50);
            transform: matrix(1, 0, 0, 1, 0, 50);
  }
  100% {
    visibility: inherit;
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: translate3d(0 0 0);
            transform: translate3d(0 0 0);
  }
}

.video {
  position: relative;
}

.video .play {
  position: absolute;
  width: 142.5px;
  height: 142.5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: rgba(4, 40, 37, 0.7);
}

.video img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 120px;
}

.pimg .p_1 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img1 1s 1s forwards;
          animation: p_img1 1s 1s forwards;
}

@-webkit-keyframes p_img1 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes p_img1 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.pimg .p_2 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img2 1s 1.2s forwards;
          animation: p_img2 1s 1.2s forwards;
}

@-webkit-keyframes p_img2 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes p_img2 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.pimg .p_3 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img3 1s 1.4s forwards;
          animation: p_img3 1s 1.4s forwards;
}

@-webkit-keyframes p_img3 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes p_img3 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.pimg .p_4 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img4 1s 1.6s forwards;
          animation: p_img4 1s 1.6s forwards;
}

@-webkit-keyframes p_img4 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes p_img4 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.pimg .p_5 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img5 1s 1.8s forwards;
          animation: p_img5 1s 1.8s forwards;
}

@-webkit-keyframes p_img5 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes p_img5 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.combined {
  padding-top: 200px;
  padding-left: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.combined div h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 50px;
}

.combined div h2 span {
  color: #a6c1bf;
}

.combined div .com_1 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-animation: com1 1s 0.8s forwards;
          animation: com1 1s 0.8s forwards;
}

@-webkit-keyframes com1 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes com1 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.combined div .com_2 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-animation: com2 1s 1s forwards;
          animation: com2 1s 1s forwards;
}

@-webkit-keyframes com2 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes com2 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.combined div .com_3 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-animation: com3 1s 1.2s forwards;
          animation: com3 1s 1.2s forwards;
}

@-webkit-keyframes com3 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes com3 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.combined div .com_4 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-animation: com4 1s 1.4s forwards;
          animation: com4 1s 1.4s forwards;
}

@-webkit-keyframes com4 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes com4 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.combined div .com_5 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-animation: com5 1s 1.6s forwards;
          animation: com5 1s 1.6s forwards;
}

@-webkit-keyframes com5 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes com5 {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.combined .under_w {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.combined .under_w::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.combined .under_w::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.combined .under_w:hover:after {
  content: "";
  left: 0%;
  width: 100%;
}

.combined .under_w {
  font-size: 1.5rem;
  line-height: 1.33;
  color: white;
}

/* ------------ */
.bg_white {
  background: white;
}

.thewokr {
  padding-top: 60px;
  padding-bottom: 120px;
  width: 1520px;
  margin: 0 auto;
  background: white;
}

.thewokr h2 {
  font-weight: 400;
  color: #042825;
  line-height: 1.15;
  font-size: 3rem;
}

.down {
  width: 1520px;
  margin: 0 auto;
  color: #042825;
  font-size: 1.5rem;
  background-color: white;
  padding: 20px 0 120px;
}

.down .under_g {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.down .under_g::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: rgba(4, 40, 37, 0.2);
}

.down .under_g::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #042825;
  -webkit-transition: .4s;
  transition: .4s;
}

.down .under_g:hover:after {
  content: "";
  left: 0%;
  width: 100%;
}

.down .allstudies {
  text-align: center;
  margin: 0 auto;
  padding: 35px 0 118px;
}

.down .allstudies a {
  font-size: 28.5px;
  letter-spacing: -1px;
  line-height: 1.33;
  color: #042825;
}

.card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card ul .text {
  padding-top: 35px;
  color: #042825;
  font-size: 1.5rem;
}

.card ul li {
  margin: 100px 0;
}

.card ul li div {
  overflow: hidden;
}

.card ul li div img {
  vertical-align: top;
  width: 100%;
}

.card ul .card_1 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_1 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_2 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_2 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_3 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_3 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_4 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_4 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_5 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_5 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_6 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_6 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_7 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_7 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_8 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_8 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_9 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_9 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_10 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_10 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_11 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_11 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_12 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_12 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_13 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_13 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_14 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_14 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_15 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_15 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_16 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_16 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_17 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_17 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_18 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.card ul .card_18 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.card ul .card_1 {
  width: 50%;
  padding-right: 9.75%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card ul .card_2 {
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card ul .card_3 {
  width: 100%;
  padding-left: 19.5%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card ul .card_4 {
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card ul .card_5 {
  width: 50%;
  padding-left: 9.75%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card ul .card_6 {
  width: 100%;
  padding-right: 19.5%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card ul .card_7 {
  width: 50%;
  padding-right: 9.75%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card ul .card_8 {
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card ul .card_9 {
  width: 100%;
  padding-left: 19.5%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card ul .card_10 {
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card ul .card_11 {
  width: 50%;
  padding-left: 9.75%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card ul .card_12 {
  width: 100%;
  padding-right: 19.5%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card ul .card_13 {
  width: 50%;
  padding-right: 9.75%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card ul .card_14 {
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card ul .card_15 {
  width: 100%;
  padding-left: 19.5%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card ul .card_16 {
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card ul .card_17 {
  width: 50%;
  padding-left: 9.75%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card ul .card_18 {
  width: 100%;
  padding-right: 19.5%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.clients::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #042825;
}

.clients {
  width: 1520px;
  padding: 0 20px;
  margin: 0 auto;
  color: #042825;
  background: white;
  position: relative;
}

.clients h2 {
  line-height: 1.15;
  max-width: 600px;
  font-size: 3rem;
  padding-top: 120px;
  padding-bottom: 80px;
}

.clients ul {
  margin: 0 -20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients ul .clients_1 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img1 0.8s 10s forwards;
          animation: p_img1 0.8s 10s forwards;
}

@keyframes p_img1 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.clients ul .clients_2 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img2 0.8s 10.2s forwards;
          animation: p_img2 0.8s 10.2s forwards;
}

@keyframes p_img2 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.clients ul .clients_3 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img3 0.8s 10.4s forwards;
          animation: p_img3 0.8s 10.4s forwards;
}

@keyframes p_img3 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.clients ul .clients_4 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img4 0.8s 10.6s forwards;
          animation: p_img4 0.8s 10.6s forwards;
}

@keyframes p_img4 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.clients ul .clients_5 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img5 0.8s 10.8s forwards;
          animation: p_img5 0.8s 10.8s forwards;
}

@keyframes p_img5 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.clients ul .clients_6 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img6 0.8s 11s forwards;
          animation: p_img6 0.8s 11s forwards;
}

@-webkit-keyframes p_img6 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes p_img6 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.clients ul .clients_7 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img7 0.8s 11.2s forwards;
          animation: p_img7 0.8s 11.2s forwards;
}

@-webkit-keyframes p_img7 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes p_img7 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.clients ul .clients_8 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: p_img8 0.8s 11.4s forwards;
          animation: p_img8 0.8s 11.4s forwards;
}

@-webkit-keyframes p_img8 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes p_img8 {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.clients ul li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24px 60px;
  font-size: 1.25rem;
  letter-spacing: -.5px;
  line-height: 1.4;
}

.clients ul li div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.clients ul li figure .under_g {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.clients ul li figure .under_g::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: rgba(4, 40, 37, 0.2);
}

.clients ul li figure .under_g::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #042825;
  -webkit-transition: .4s;
  transition: .4s;
}

.clients ul li figure .under_g:hover:after {
  content: "";
  left: 0%;
  width: 100%;
}

.clients ul li figure a {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #042825;
  font-weight: 700;
}

.clients ul li figcaption {
  font-size: 19px;
  padding-top: 12px;
  opacity: .5;
  font-size: 1rem;
  line-height: 1.5;
}

.clients .Viewallclients {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 200px;
}

.clients .Viewallclients .under_g {
  font-size: 1.5rem;
  color: #042825;
}

.clients .Viewallclients .under_g {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.clients .Viewallclients .under_g::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: rgba(4, 40, 37, 0.2);
}

.clients .Viewallclients .under_g::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #042825;
  -webkit-transition: .4s;
  transition: .4s;
}

.clients .Viewallclients .under_g:hover:after {
  content: "";
  left: 0%;
  width: 100%;
}

.moderntimes_bg {
  background: #e6eded;
  padding-bottom: 200px;
}

.container_b {
  width: 1520px;
  padding: 0 20px;
  margin: 0 auto;
  color: #042825;
}

.container_b h2 {
  line-height: 1.15;
  max-width: 65%;
  padding-top: calc(10%);
  padding-bottom: calc(6%);
  font-size: 3rem;
  margin: 0;
  font-weight: 400;
}

.container_b ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -20px;
  padding: 0;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
}

.container_b ul li {
  width: 33%;
  padding: 0 20px 100px 20px;
}

.container_b ul li .mimg_1,
.container_b ul li .mimg_2,
.container_b ul li .mimg_3 {
  width: 100%;
}

.container_b .check {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.container_b p {
  padding-top: 30px;
  font-size: 1.5rem;
  letter-spacing: -.5px;
  line-height: 1.33;
}

.container_b .link {
  padding-top: 20px;
}

.container_b .under_g {
  font-size: 1.5rem;
  color: #042825;
}

.container_b .under_g {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.container_b .under_g::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: rgba(4, 40, 37, 0.2);
}

.container_b .under_g::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #042825;
  -webkit-transition: .4s;
  transition: .4s;
}

.container_b .under_g:hover:after {
  content: "";
  left: 0%;
  width: 100%;
}

.Wehave {
  width: 1520px;
  margin: 0 auto;
  position: relative;
  background: #042825;
  color: #fff;
  padding-bottom: 180px;
}

.Wehave .container_c {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  color: #fff;
}

.Wehave .container_c h2 {
  line-height: 1.15;
  max-width: 65%;
  padding-top: calc(10%);
  padding-bottom: calc(6%);
  font-size: 3rem;
  margin: 0;
  font-weight: 400;
}

.Wehave .container_c .how {
  position: relative;
  padding-left: 34%;
}

.Wehave .container_c .how figure {
  position: absolute;
  left: 40px;
  top: 0;
  width: auto;
  max-width: 100%;
  /*                 .question {

                } */
}

.Wehave .container_c .how figure img {
  vertical-align: middle;
}

.Wehave ul {
  width: 100%;
}

.Wehave ul li {
  width: 100%;
}

.Wehave ul li .push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
  position: relative;
  z-index: 2;
}

.Wehave ul li .push h3 {
  line-height: 1.25;
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}

.Wehave ul li .push .caret {
  padding-left: 30px;
}

.mind {
  background: white;
}

.mind .container_d {
  width: 1520px;
  color: #042825;
  margin: 0 auto;
  position: relative;
  padding-top: 140px;
  padding-bottom: 60px;
}

.mind .container_d .have {
  text-align: center;
  padding-bottom: 140px;
  max-width: 880px;
  margin: 0 auto;
}

.mind .container_d .have h1 {
  font-weight: 400;
  text-align: center;
  line-height: 1.11;
  padding-bottom: 50px;
  font-size: 4.5rem;
}

.mind .container_d .have a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  padding: 0 40px;
  border-radius: 30px;
  background-color: #042825;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  padding-bottom: 2px;
}

.mind .footer {
  font-size: 1.25rem;
  line-height: 2;
}

.mind .footer a {
  color: #042825;
}

.mind .footer .under_wg {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.mind .footer .under_wg::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #042825;
  -webkit-transition: .4s;
  transition: .4s;
}

.mind .footer .under_wg:hover:after {
  content: "";
  left: 0%;
  width: 100%;
}

.mind .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mind .row .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34%;
          flex: 0 0 34%;
}

.mind .row .logo p {
  line-height: 1.6;
}

.mind .row .contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.mind .row .contacts b {
  display: block;
}

.mind .row .contacts a {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.mind .row .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

.mind .row .menu .ml {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.mind .row .menu .mr {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.mind .row copy {
  padding-top: 85px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Start a Project */
/* 
.content {
    position: relative;
    display: block;

    color: #042825;
    font-size: 1rem;
    font-family: LotaGrotesque, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;

    .header {
        padding-top: 230px;
        padding-bottom: 90px;

        .container_e {
            display: block;
            margin: 0 auto;
            width: 100%;
            padding: 0 20px;

            .hero {
                h1 {
                    font-weight: 400;
                    font-size: 10rem;
                    letter-spacing: -3px;
                    line-height: 1;
                }
            }
        }
    }

    .form {
        padding-bottom: 160px;

        .form_hero {
            padding-bottom: calc(100px*var(--scale));
            max-width: calc(820px*var(--scale));

            P {
                font-weight: 400;
                font-size: 1.5rem;
                letter-spacing: -.5px;
                line-height: 1.33;
            }
        }

        .form_wrapper {
            text-align: center;

            .form_wrapper_f {
                display: inline-block;
                text-align: left;

                .row {
                    margin-bottom: calc(35px*var(--scale));
                    white-space: nowrap;

                    .dropdown_component {
                        display: inline-block;
                        position: relative;
                        width: calc(380px*var(--scale));

                        .value_blank {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            background: #e6eded;
                            padding: calc(16px*var(--scale));

                            span {
                                color: rgba(4, 40, 37, .4);
                            }
                        }

                        .options {
                            display: none;
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            right: 0;
                            background-color: #e6eded;
                            padding: 0 calc(16px*var(--scale));
                            z-index: 999999;
                            border-top: 1px solid rgba(4, 40, 37, .4);

                            li {
                                margin-top: 1.25rem;
                            }
                        }
                    }
                }

                .row_textarea {
                    display: flex;
                    align-items: flex-start;
                }

                .row_button {
                    text-align: right;
                    padding-top: .625rem;
                }
            }
        }

    }




} */
/* work */
/* 
.work_main {
    .work_h {
        .container_e {
            display: flex;
            align-items: center;
            padding-top: 240px;
            padding-bottom: 120px;
        }

        h1 {
            color: #042825;
            font-weight: 400;
            letter-spacing: -1px;
            line-height: 1.11;

        }
    }
}
 */
/* main */
.body_work {
  background-color: #fff;
  color: #042825;
}

.body_work a {
  color: #042825;
}

.body_work .Start {
  color: #fff;
  background: #042825;
}

.work_main {
  width: 1520px;
  margin: 0 auto;
}

.work_main .container_e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 240px;
  padding-bottom: 120px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.work_main .container_e h1 {
  font-size: 4.5rem;
}

.work_card {
  position: relative;
  padding-bottom: 100px;
}

.work_card .work_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

.work_card .under_g {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.work_card .under_g::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: rgba(4, 40, 37, 0.2);
}

.work_card .under_g::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #042825;
  -webkit-transition: .4s;
  transition: .4s;
}

.work_card .under_g:hover:after {
  content: "";
  left: 0%;
  width: 100%;
}

/* @import '_res'; */
/*# sourceMappingURL=main.css.map */